[flake8]
ignore =
    E242, # Tab after ','
    F401, # Imported but unused
    E265, #	Block comment should start with '# '
    E266, #	Too many leading '#' for block comment
    E271, # Multiple spaces after keyword
    E401, # Multiple imports on one line
    E402, # Module level import not at top of file
    W605, # Invalid escape sequence
    E501  # Line too long (> max-line-length)
exclude =
    .git,
    __pycache__,
    build,
    dist,
max-complexity=15
max-line-length=99
